* {
    font-family: 'Nunito', sans-serif;
}

/* nav {
    position: static;
} */
[my-name] {
    font-weight: bold;
    letter-spacing: 3px;
    font-family: 'Blinker', sans-serif;
}

header,
.intro{
    background: url('https://images.wallpaperscraft.com/image/laptop_room_on_the_desk_keyboard_mouse_apple_window_interior_73963_1280x720.jpg');
    background-position: center center;
    background-size: cover;
}

nav a {
    font-family: 'Blinker', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    text-decoration: none;
    color: #F7F7FF;
    opacity: .7;
    position: static;
}

nav a:hover {
    color: black  ;
    text-decoration: none;
    opacity: 1; 
    font-weight: 600;
    transition: .1s;
}

#int {
    transform: translateY(25vh);
    text-align: center;
}

#int h3 {
    font-size: 3.4em;
    font-weight: 800;
    text-align: center;
}

[name-span] {
    font-size: 2rem;
}

#int p {
    font-size: 400;
    font-size: 1.5em;
    text-align: center;
    text-align: center;
}

#int img {
    margin: 0 30%;
}

.btn{
    border-radius: 20px;
    padding: 3px 9px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    text-transform: capitalize;
    color: rgb(0, 0, 0);
    opacity: .8;
    background: #F7F7FF;
}
.btn:hover{
    opacity: 1;
    transition: .1s;
    font-weight: 600;
}

.intro {
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    color: #F7F7FF;
}

.projects {
    background: #F7F7FF;
}

.projects h3 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    padding: .6rem 1em;;
    letter-spacing: 4px;
}

#projects .row {
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    /* margin-bottom: 1.3em; */
    padding-bottom: 1em;
}

#projects1{
    margin-bottom: 1.3em;
}

.skills {
    background: #F7F7FF;
}

.skills h3 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    padding: .6rem 1em;;
    letter-spacing: 4px;
}
.carousel-item {
    text-align: center;
}

.carousel-item img:hover {
    transform: scale(1.1);
    transition: .1s;
}

.carousel-item .row {
    height: 40vh;
}

.contacts {
    background: #F7F7FF;
}

.contacts h3 {
    text-align: center;
    text-transform: capitalize;
    font-weight: 900;
    padding: .6rem 1em;;
    letter-spacing: 4px;
}

/* body{
    background: url('https://images.wallpaperscraft.com/image/laptop_room_on_the_desk_keyboard_mouse_apple_window_interior_73963_1280x720.jpg');
    background-position: center center;
    background-size: cover;
} */

